@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Kapakana:wght@300..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --fg-color: #92bb00;
}
html,body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    scroll-behavior: smooth!important;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
     box-sizing: inherit;
     color: white!important;
  }
  .icon{
    background-color: var(--fg-color);
  }
#background-container{
    position: relative!important;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0.41), rgba(0, 4, 3, 0.508)), url("./care2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    image-resolution: 1000%;
    background-attachment: fixed;
}
.bg-con{
   position: relative!important;
    width: 100%;
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0.511), rgba(0, 4, 3, 0.785)), url("./RIC09349.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    image-resolution: 1000%;
    background-attachment: fixed;
}
 .bg-card1 {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: white;
  padding: 1rem;
  box-shadow: 0px 2px 12px rgba(11, 145, 6, 0.527);
}

/* Circle background with gradient */
.bg-card1::before {
  content: "";
  position: absolute;
  width: 500px; /* Adjust size */
  height: 500px;
  background: radial-gradient(circle at right bottom, rgba(9, 215, 9, 0.282), transparent 60%); /* Green, semi-transparent */
  border-radius: 50%;
  bottom: -20%; /* Move up */
  right: -10%;

  z-index: 0;
}


.bg-card1 .card-body {
  position: relative;
  z-index: 1;
}



.bg-aboutM{
    /* position: relative!important;
    width: 100%;
    height: 100vh; */
    /* background-image: linear-gradient(to right, rgba(17, 17, 17, 0.41), rgba(0, 4, 3, 0.508)), url("./care2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    image-resolution: 1000%;
    background-attachment: fixed; */
}
.content-box1{
  position: relative;
  display: flex;
  width: 90%;
}
 /* #background-container {
    position: relative !important;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#background-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(130deg, rgba(0, 0, 0, 0.907), rgba(0, 0, 0, 0.949)), url("./care.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(3px); 
    z-index: -1;
} */
/* .nav-link{
  position: relative;
  margin-bottom: 20;
}
.nav-link::after:hover{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  clear: both;
  width: 4rem;
  height: 4px;
  background-color: green;
} */
.nav-link {
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  position: relative;
  display: inline-block;
  color: white!important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

/* Default text color (white) */
/* .navbar {
  transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white;
}
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand {
  color:var(--fg-color) !important;
} */
#to{
 font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
   color: rgb(255, 255, 255)!important;
}
.text-1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-style: normal;
   color: rgb(255, 255, 255)!important;
}
.text-2{

   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
   color: rgb(255, 255, 255)!important;
}
.text-3{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
   color: rgb(48, 48, 48)!important;
}
.text-9{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
   color: rgb(240, 240, 240)!important;
}
.text-4{
    font-family: 'Anton SC';
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  font-display: swap;
  /* font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-style: normal;
   */
    line-height: 4.5rem;
   color: var(--fg-color)!important;
   text-shadow: 1px 1px 0px white;
}
.text-secondary{
  font-family:"Poppins", sans-serif;
  font-size: 19px;
 
}
.our-service{
   font-family:"Poppins", sans-serif!important;
  font-weight: 700!important;
  font-size: 25px!important;
   color: rgba(47, 49, 48, 0.77)!important;
}
.section-title{
 font-family: "Poppins", sans-serif;
  font-weight: 700!important;
  font-size: 40px;
  color: var(--fg-color)!important;
}
.card-title{
  font-family: "Poppins", sans-serif!important;
  color: var(--fg-color)!important;
}
.card-text{
  font-family: "Poppins", sans-serif!important;
  color: rgb(34, 34, 34)!important;
}
.mb-1{
 color: var(--fg-color)!important;
}
 /* .mb-2{
  font-family: "Poppins",sans-serif;
  font-size: 40px;
  font-weight: 600;
   color: var(--fg-color)!important;
 } */
.mb-0{
  font-family: "Poppins", sans-serif!important;
  color: rgba(0, 0, 0, 0.682)!important;
}
.text-6{
  font-family: "Poppins", sans-serif!important;
  color: rgb(33, 33, 33)!important;
  font-size: 18px;
}
.service-card img {
  object-fit: contain;
}
.background-contain{
  position: relative!important;
      display: flex!important;
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(130deg, rgba(0, 0, 0, 0.76), rgba(4, 4, 4, 0.862)), url("./dentist2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.vertical-lines {
  position:absolute;
  width: 4px;
  top: -20px;
  left: 0;
  height: 100%; /* this might collapse unless set explicitly */
  background-color: var(--fg-color); /* Bootstrap primary */
  border-radius: 2px;
  min-height: 280px; /* Force a visible height */
}
.vertical-divider {
  width: 4px;
  height: 100%;
  background-color: var(--fg-color); /* Bootstrap Primary */
  border-radius: 2px;
  min-height: 250px;
}


.shadow-bg {
  box-shadow: 0 4px 20px rgba(8, 195, 133, 0.3)!important; /* Subtle green glow */
}

.read-more{
   border:1px solid var(--fg-color)!important;
  background-image: linear-gradient(to right, rgb(89, 193, 9), #92bb00)!important;
}
.footer__bottom{
    background-image: linear-gradient(to right, rgb(89, 193, 9), #92bb00)!important;
}
.navbar-bg{
  color: var(--fg-color)!important;
  background-color:var(--fg-color)!important;
   /* background-image: linear-gradient(to left, rgb(0, 128, 90), rgb(9, 160, 120))!important; */
}

#btn-modal{
   font-family:"Poppins",sans-serif;
  font-size: 16px;
  padding: 12px;
  min-width: 25%;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  border:1px solid rgb(3, 230, 169)!important;
  background-color: transparent;
}

#explore,
#btn-modal {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 8px;
  min-width: 20%;
  border:1px solid var(--fg-color)!important;
  background-image: linear-gradient(to right, rgb(89, 193, 9), #92bb00)!important;
  /* color: rgb(3, 230, 169); */
 
  
  cursor: pointer;
}

#explore:hover,
#btn-modal:hover {
   transition: all 0.3s ease;
  background-image: none!important;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.modal-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fg-color)!important;
}
.modal-body>p{
  font-family: "Poppins",sans-serif;
  text-align: start;
  margin-bottom: 20px;
}
#appointmentForm{
  position: relative;
  padding:2rem;
}
.modal-body>p,
.form-label
{
  color: black!important;
}
.modal-content>.modal-header>.btn-close{
  color: white!important;
}
.btn-submit {
  float: right;
  width: 20%;
  background-image: linear-gradient(to right, rgb(89, 193, 9), #92bb00) !important;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background-image: linear-gradient(to right, #92bb00, rgb(89, 193, 9));
  filter: brightness(1.1);
  transform: scale(1.03);
  cursor: pointer;
}

  .section-title1{
     font-family: "Poppins", sans-serif;
  font-weight: 700!important;
  font-size: 40px;
  color: var(--fg-color)!important;
}
.vertical-underline {
  position: relative;
  display: inline-block;
   padding-left: 20px;
}

.vertical-underline::before  {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 60px;
  background-color: var(--fg-color); 
  border-radius: 2px;
}
small{
  font-family: "Poppins",sans-serif;
  color: black!important;
}
.text4{
  font-family:"Poppins",sans-serif;
color:var(--fg-color)!important;
  font-size: 25px;
  font-weight: 700;
}
.text6{
  font-family: "Poppins",sans-serif!important;
  font-weight: 800!important;
  color: var(--fg-color)!important;
}
.t-1{
  font-family: "Poppins",sans-serif;
  color:var(--fg-color)!important; 
  font-weight: 600;
}
.text-about{
  font-family: "Poppins", sans-serif;
  font-weight: 700!important;
  font-size: 40px;
  color: var(--fg-color)!important;
}
.about-head{
  font-family: "Poppins",sans-serif!important;
  font-weight: 20px!important;
  font-weight: 700!important;
  color:  gray!important;
}
.heading-with-line::before {
  content: "";
  position: absolute;
  left: -20px; /* Adjust spacing from text */
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 40px;
  background-color: #07be72; /* Bootstrap primary blue or your brand color */
  border-radius: 2px;
}
#service {
  scroll-margin-top: 120px; /* Adjust if your navbar is taller/shorter */
}
.logo1{
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}
.responsive-logo {
  width: 2rem;
  height: 2rem;
}

 .modal input,
  .modal select,
  .modal option,
  .modal textarea {
    color: #000 !important;
  }
  .modal input::placeholder,
  .modal textarea::placeholder {
    color: #555; 
    opacity: 1; 
  }
/* @media (max-width: 991.98px) {
  .heading-with-line::before {
    display: none; 
  }
} */
.cards-wrapper {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%); 
  padding-top: 2rem;
}

.feature-card {
  width: 18rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  color: #333;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: var(--fg-color);
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
@media (max-width: 450px){
  html,body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
  }
  .text-4{
    font-family: 'Anton SC';
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  font-display: swap;
  /* font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-style: normal;
   */
    line-height: 4.5rem;
   color: var(--fg-color)!important;
   text-shadow: 1px 1px 0px white;
}
.content-box1{
    padding: 1.6rem;
    width: 100%!important;
  }
  #background-container{
    position: relative!important;
    margin: 0!important;
  }
  
  .btn-submit {
  width: 100%;
}
#appointmentForm{
  position: relative;
  padding:2px;
}
.text-2{
  font-size: 1.6rem;
}
.text-1{
font-size: 1.8rem;
}
.text-4{
  line-height: 1em;
}
.logo1{
  font-size: 20px!important;
}
}
